.root {
    -fx-background-color: #EBF2FA;
}

.reclamation-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color:  #94BDF2;
    -fx-border-width: 7px; /* Supprimé une des duplications */
    -fx-border-radius: 5px;
    -fx-padding: 20px;
}

.label-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #333333; /* Set text color for consistency */
}

.label-attribute {
    -fx-font-size: 14px;
    -fx-text-fill: #555555; /* Slightly lighter text color */
}

.button-modifier, .button-supprimer {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-pref-width: 100px; /* Set a preferred width for consistency */
}

.button-modifier {
    -fx-background-color:  #0460D9; /* Green */
}

.button-supprimer {
    -fx-background-color: #D9325E /* Red */
}

.reclamation-attribute-vbox {
    -fx-spacing: 8px; /* Slightly increase spacing between attributes */
}

/* Hover effect for buttons */
.button-modifier:hover, .button-supprimer:hover {
    -fx-background-color: derive(-fx-background-color, 20%);
}
