/* Couleur de fond pour l'ensemble de l'AnchorPane */
.anchor-pane {
    -fx-background-color: #EBF2FA;
}

/* Styles pour le Pane en haut avec le fond bleu */
#paneTop {
    -fx-background-color: #0460D9;
}

/* Styles pour le texte dans le Pane en haut */
#textGestion1 {
    -fx-fill: #fcfcfc;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Styles pour le Pane en dessous du paneTop avec le fond plus clair */
#paneBelowTop {
    -fx-background-color: #94BDF2;
}

/* Styles pour les boutons généraux */
.button {
    -fx-background-color: #6b7fab08;
    -fx-text-fill: #5bbedc;
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}

/* Styles spécifiques pour le bouton des messages */
#bLesMessages {
    -fx-background-color: transparent;
    -fx-text-fill: #94bdf2;
}

/* Styles pour l'étiquette quand il n'y a pas de réclamations */
#emptyLabel {
    -fx-text-fill: grey;
    -fx-font-size: 16px;
}

/* Styles pour le Pagination */
#fxPagination {
    -fx-border-color: #0460D9;
    -fx-border-width: 2px;
}

/* Styles pour le BarChart */
#voirLesStatistiquess {
    -fx-bar-fill: #0460D9;
}
