.root {
    -fx-background-color: #EBF2FA;
}

.reclamation-pane, .Messagerie-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #94BDF2;
    -fx-border-width: 7px;
    -fx-border-radius: 5px;
    -fx-padding: 20px;
}

.label-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.label-attribute {
    -fx-font-size: 14px;
    -fx-text-fill: #555555;
}

.button-modifier, .button-supprimer, .repondreButton {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-pref-width: 100px;
    -fx-background-radius: 5px; /* Added border-radius */
}

.button-modifier, .repondreButton {
    -fx-background-color: #0460D9;
}

.button-supprimer, .Réponse {
    -fx-background-color: #D9325E;
}

/* Ajout de transitions pour les boutons */
.button-modifier:hover, .button-supprimer:hover, .repondreButton:hover {
    -fx-opacity: 0.8;
}
